
#cartMainContainer
{
    padding-left:  50px;
    padding-right:  50px;
	max-width: 1280px;
	margin: auto;
}
#cartContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
img
{
    width: 80px;
    float: left;
    border-radius: 10px;
    margin-right: 50px;
}
#boxContainer
{
    display: grid;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;	
    /* float: left; */
}
#box
{
    background-color: white;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    border-radius: 10px;
    width: 100%;
    /* margin: auto */
    padding: 20px 10px;
	height: min-content;
	min-width: 300px;
}
#box:hover
{
    box-shadow: 0px 1px 3px 2px rgb(185, 185, 185);
}

#totalContainer
{
    display: flex;
	flex-direction: column;
}

#total
{
    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	height: min-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
	min-width: 300px;
}
#total:hover
{
    box-shadow: 0px 1px 3px 2px rgb(185, 185, 185);
}


#creditCardForm .form-group input {
   width: 160px;
}

#creditCardForm .form-group{
  display: flex;
  justify-content: space-between;
}


/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 800px)
{
    img
    {
        width: 60px;
        margin-right: 20px;
    }
    h3, h4
    {
        font-size: 14px;
    }
    h2
    {
        font-size: 18px;
    }
    #cartMainContainer
    {
		padding-left:  20px;
		padding-right:  20px;
    }
}
@media(max-width: 555px)
{
    #cartContainer
    {
        display: grid;
        grid-template-columns: 1fr;
    }    
    #boxContainer
    {
        padding: 20px;
        width: 80%;
    }
}

