body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#badge
{
    position: absolute;
    background-color: rgb(255, 30, 30);
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    top: 70px;
	margin-left: 16px;
    /* left: 20px; */
}
#container
{
    background-color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149); 
}
#shopName 
{
    font-size: 40px; 
    font-family: 'Lato', sans-serif;
}
#shopName a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
#shopName > b
{
    font-weight: 900;
    font: black;
}

#collection
{
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;	
}
#collection a
{
    text-decoration: none;
	padding-right: 8px;
    color: rgb(29, 29, 29);
	padding-right: 30px;
}


#admin-collection
{
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
}
#admin-collection a
{
    text-decoration: none;
	padding-right: 8px;
    color: rgb(29, 29, 29);
	padding-right: 30px;

}

.search
{
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    min-width: 25px;
    text-align: center;
    position: absolute;
}

.addedToCart
{
    font-size: 1.5em;
    margin-right: 25px;
}
#user
{
    display: flex;
    /* float: right; */
    align-items: center;
}

.userIcon
{
    font-size: 45px;
}
#input 
{
    width: 35em;
    height: 3em;
    padding: 2px 50px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}
#input::placeholder
{
    font-weight: bold;
}
#input:focus
{
    outline: none;
}
#user a
{
    color: rgb(29, 29, 29)
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1300px)
{
  
    #input 
    {
        width: 25em;
    }
}
@media(max-width: 1212px)
{
   
    #input 
    {
        width: 20em;
    }
    .addedToCart
    {
        font-size: 1.5em;
        margin: 10px 20px;
    }
}

@media(max-width: 1090px)
{
    #container
    {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
    }
    #search
    {
        display: none;
    }
}
@media(max-width: 750px)
{
    #shopName
    {
        font-size: 28px;
    }
    #collection
    {
        font-size: 12px;
    }
    .userIcon
    {
        font-size: 35px;
    }
    .addedToCart
    {
        font-size: 1.2em;
        margin: 10px 20px;
    }
}

@media(max-width: 650px)
{
    #shopName
    {
        font-size: 24px;
    }
    #collection
    {
        font-size: 10px;
    }
    .userIcon
    {
        font-size: 30px;
    }
}
@media(max-width: 550px)
{
    #container 
    {
        padding: 20px 25px;
    }
}

/* common for front */

/* Start Main Rulez */

body {
	background-color: #F4F4F4;
	font-size: 16px;
}

h1 {
	margin: 40px 0;
	font-weight: bold;
	color: #666;
}


.input-container {
	position: relative;
}

.asterisk {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 7px;
    color: #D20707;
}

.main-form .asterisk {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #D20707;
}

.nice-message {
	padding: 10px;
	background-color: #FFF;
	margin: 10px 0;
	border-left: 5px solid #080;
}

/* End Main Rulez */

/* Start Bootstrap Edits */

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.nav > li > a,
.navbar-brand {
	padding: 15px 12px;
}

.navbar-brand {
	font-size: 1em;
}

.navbar-inverse .navbar-nav > .open>a,
.navbar-inverse .navbar-nav > .open>a:focus,
.navbar-inverse .navbar-nav > .open>a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
	min-width: 180px;
	padding: 0;
	font-size: 1em;
	border: none;
	border-radius: 0;
}

.dropdown-menu > li > a {
	color: #FFF;
	padding: 10px 15px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #FFF;
    background-color: #8e44ad;
}

/* .form-control {
	position: relative;
} */

/* End Bootstrap Edits */

/* Start Header */

.upper-bar {
	padding: 10px;
	background-color: #FFF
}

.my-image {
	width: 36px;
	height: 36px;
}

/* End Header */

/* Start Login Page */

.login-page form,
.the-errors {
	max-width: 380px;
	margin: auto;
}

.login-page form input {
	margin-bottom: 10px;
}

.login-page [data-class="login"].selected {
	color:  rgb(3, 122, 122);;
}

.login-page [data-class="signup"].selected {
	color: rgb(3, 122, 122);
}

.login-page h1 {
	color: #C0C0C0;
}

.login-page h1 span {
	cursor: pointer;
}

.login-page .signup {
	display: none;
}

.the-errors .msg {
    padding: 10px;
    text-align: left;
    background-color: #fff;
    margin-bottom: 8px;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #919191;
}

.the-errors .error {
    border-left: 5px solid #cd6858
}

/* End Login Page */

/* Start Categories Page */

.item-box {
	position: relative;
}

.item-box .price-tag {
    background-color: #B4B4B4;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: bold;
    color: #FFF;
}

.item-box .approve-status {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #b85a5a;
    color: #FFF;
    padding: 3px 5px;
}

.item-box .caption p {
	height: 44px;
	max-height: 44px;
}

/* End Categories Page */

/* Start Profile Page */

.information {
	margin-top: 20px
}

.information ul {
	padding: 0;
	margin: 0;
}

.information ul li {
	padding: 10px;
}

.information ul li:nth-child(odd) {
	background-color: #EEE;
}

.information ul li span {
	display: inline-block;
	width: 120px;
}

.thumbnail .date {
	text-align: right;
	font-size: 13px;
	color: #AAA;
	font-weight: bold;
}

.information .btn {
	margin-top: 10px;
}

/* End Profile Page */

/* Start Show Item Page */

.item-info h2 {
	padding: 10px;
	margin: 0;
}

.item-info p {
	padding: 10px;
}

.item-info ul li { 
	padding: 10px;
}

.item-info ul li:nth-child(odd) {
	background-color: #e8e8e8;
}

.item-info ul li span {
	display: inline-block;
	width: 120px;
}

.tags-items a {
    display: inline-block;
    background-color: #e2e2e2;
    padding: 2px 10px;
    border-radius: 5px;
    color: #666;
    margin-right: 5px;
}

.add-comment h3 {
	margin: 0 0 10px;
}

.add-comment textarea {
	display: block;
	margin-bottom: 10px;
	width: 500px;
	height: 120px;
}

.comment-box {
	margin-bottom: 20px;
}

.comment-box img {
	max-width: 100px;
	margin-bottom: 10px;
}

.comment-box .lead {
	background-color: #e0e0e0;
	position: relative;
	padding: 10px;
	margin-top: 25px;
}

.comment-box .lead:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #e0e0e0 transparent transparent;
    position: absolute;
    left: -28px;
    top: 10px;
}

/* End Show Item Page */

/* Start Our Custom */

.custom-hr {
	border-top: 1px solid #c9c9c9;
}

/* End Our Custom */

.asterisk {
	font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #D20707;
}

.show-pass {
	position: absolute;
	top: 0px;	
	right: -40px;
}

.categories .cat:hover .hidden-buttons {
	right: 10px;
}

.categories .cat .hidden-buttons {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: absolute;
	top: 15px;
	right: -120px;
}

.categories .cat .hidden-buttons a {
	margin-right: 5px;
}